services:
  redis:
    image: redis:7-alpine
    volumes:
      - redis:/data

  web: &web
    build: .
    image: app:1.1.0
    stdin_open: true
    tty: true
    volumes:
      - .:/app:cached
      - bundle:/app/vendor/bundle
      - rails_cache:/app/tmp/cache
      - storage:/app/storage
    tmpfs:
      - /app/tmp/pids
      - /tmp
    environment:
      BUNDLE_PATH: "/app/vendor/bundle"
      BOOTSNAP_CACHE_DIR: "/app/vendor/bundle"
      WD_INSTALL_DIR: "/usr/local/bin"
      HISTFILE: "/app/log/.bash_history"
      EDITOR: "vi"
      REDIS_URL: "redis://redis:6379/"
      BINDING: "0.0.0.0"
      WEB_SERVER: "${WEB_SERVER:-puma}"
      RAILS_MASTER_KEY:
    depends_on:
      - redis
    command: ["bin/dev"]
    expose: ["3000"]
    ports: ["3000:3000"]
    user: root
    working_dir: /app

volumes:
  redis:
  bundle:
  rails_cache:
  storage:
