<%= render(Primer::Box.new(m: 3)) do %>
  <h1>新規作成</h1>

  <%= primer_form_with local: true, model: @event, url: events_path do |f| %>
    <%= render 'form', { f: f } %>
  <% end %>

  <%= render(Primer::Beta::Link.new(href: root_path)) do %>
    トップへ戻る
  <% end %>
<% end %>
